Documentação/Declaração de Escopo - Modelo-2.docx
Documentação/Declaração de Escopo - Modelo.pdf
Documentação/Projeto Integrador - Especificação de Casos de Uso.docx
Documentação/Projeto Integrador - Especificação de Casos de Uso.pdf
Documentação/Projeto Integrador - Especificação Requisitos.docx
Documentação/Projeto Integrador - Especificação Requisitos.pdf
Documentação/TAP - Modelo 2023 - Kedssy e Lucas.pdf
CookMaster-APP/cookmaster-FrontEnd/.vscode/launch.json
